<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

</head>

<body class="bg-light">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header text-center">Login</div>
      <div class="card-body">

        <form id="form-loginz"
              th:object="${usr}" method="post" th:action="@{/auth/login}">
        <div class="form-group">
            <label for="username">Username</label>
          <input th:field="*{username}" name="username" type="text" class="form-control" id="username" placeholder="Username" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input th:field="*{password}" name="password" type="password" class="form-control" id="password" placeholder="Password" />
            <p id="errorPwd" class="text-danger"></p>
          </div>

          <!--                    End Of Captcha-->
          <div class="row mb-3">
            <div class="col-md-4 text-center">
              <img th:src="*{'data:image/jpg;base64,'+realCaptcha}" alt="CAPTCHA Image" class="img-fluid rounded border">
            </div>
          </div>

          <div class="mb-2">
            <label for="captchaInput" class="form-label"> Enter CAPTCHA </label>
          </div>

          <div class="form-group d-flex align-items-center mb-2">
            <input type="hidden" th:field="*{hiddenCaptcha}" />
            <input type="text" th:field="*{captcha}" class="form-control me-2" id="captchaInput" placeholder="Enter the captcha" required />
          </div>

          <!-- Error messages -->
          <div>
            <ul class="error-ul">
              <li th:each="err : ${#fields.errors('captcha')}" th:text="${err}" class="error"></li>
            </ul>
            <p id="errorCaptcha" class="error"></p>
            <ul class="error-ul">
              <li th:if="${captchaMessage != null}" th:text="${captchaMessage}" class="error"></li>
            </ul>
          </div>

          <!--                    End Of Captcha-->

          <button id="btn-login" type="button" class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="text-center mt-3">
          <a class="d-block small mt-3" th:href="@{/auth/regis}">Register an Account</a>
          <a class="d-block small mt-3" th:href="@{/auth/verify-regis}">Verify Registration</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
  <script>
    $(document).ready(function (){
            $('#btn-login').on('click',function (e) {
                    e.preventDefault();
                    var pwd = $('#password').val();//
                    // var pwdEncrypt = btoa(pwd);//
                    var regex =/^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[@_#\-$])[\w].{8,15}$/;
                    var isOk = true;

                    if(!regex.test(pwd)){
                        isOk=false;
                        document.getElementById("errorPwd").innerHTML = "Password nya error !!";
                    }

                    if(isOk){
                        var pwdEncrypt = btoa(pwd);
                        $("#password").val(pwdEncrypt);
                        $("#form-loginz").submit();
                    }
                }
            )
        }
    )
  </script>
</body>

</html>
