<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-wrapper" th:fragment="booking">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Booking</a>
            </li>
            <li class="breadcrumb-item active">My Booking</li>
        </ol>
        <!-- content -->
        <div class="card">
            <div class="card-body">
                <h2 style="text-align: center; padding-bottom: 20px;">Booking</h2>
                <form action="#" method="post">
                    <div class="form-group row">
                        <label for="inputNumberPeople" class="col-sm-2 col-form-label">Number of People</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNumberPeople">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="duration" class="col-sm-2 col-form-label">Meeting Duration</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control" id="duration">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="meetingName" class="col-sm-2 col-form-label">Meeting Name</label>
                        <div class="col-sm-10">
                            <textarea name="name_meeting" id="meetingName" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Booking</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Available Space</h4>
                    <p id="p1">
                        Booking Id : B1221<br>
                        Mon, 5 May 2025<br>
                        Time: 13:00-14:00<br>
                    </p>
                    <p id="p2">
                        Room Meeting 5 - (10 People)<br>
                        Location: Floor 3<br>
                        Facility:<br>
                    </p>
                    <ul>
                        <li>Table - 1</li>
                        <li>Chair - 15pcs</li>
                        <li>LCD - 1</li>
                        <li>White Board - 1</li>
                        <li>Phone - 1</li>
                    </ul>
                    <hr>
                    <p class="mb-0">Do you agree? <button class="btn btn-danger btn-sm"> No </button>
                        <button class="btn btn-success btn-sm"> Yes </button></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>