<div class="content-wrapper" th:fragment="facility-data">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Facilities</a>
                </li>
                <li class="breadcrumb-item active">My Facilities</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Facilities Data</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Room ID</th>
                                <th>Facility ID</th>
                                <th>Facility Name</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>R01</td>
                                <td>F01</td>
                                <td>Chair</td>
                                <td>12</td>
                                <td>
                                    <button type="submit" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#detail-modal">
                                        <i class="fa fa-pencil-square-o me-2"></i> Edit</button>
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>R02</td>
                                <td>F02</td>
                                <td>LCD</td>
                                <td>1</td>
                                <td>
                                    <button type="submit" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#detail-modal">
                                        <i class="fa fa-pencil-square-o me-2"></i> Edit</button>
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal Detail Booking -->
            <div class="modal fade" id="detail-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detail Booking</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="p1">
                                Booking Id : B1221<br>
                                Mon, 5 May 2025<br>
                                Time: 13:00-14:00<br>
                            </p>
                            <p id="p2">
                                Room Meeting 5 - (10 People)<br>
                                Location: Floor 3<br>
                                Facility:<br>
                            </p>
                            <ul>
                                <li>Table - 1</li>
                                <li>Chair - 15pcs</li>
                                <li>LCD - 1</li>
                                <li>White Board - 1</li>
                                <li>Phone - 1</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Confirm</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Tambah Data -->
            <div class="modal fade" id="modalTambah" tabindex="-1" role="dialog" aria-labelledby="modalTambahLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="formTambah">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTambahLabel">Add Facility Data</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Form Input -->
                                <div class="form-group">
                                    <label for="roomId">Room ID</label>
                                    <input type="text" class="form-control" id="roomId" name="roomId" required>
                                </div>
                                <div class="form-group">
                                    <label for="facilityId">Facility ID</label>
                                    <input type="text" class="form-control" id="facilityId" name="facilityId" required>
                                </div>
                                <div class="form-group">
                                    <label for="facilityName">Facility Name</label>
                                    <input type="text" class="form-control" id="facilityName" name="facilityName" required>
                                </div>
                                <div class="form-group">
                                    <label for="quantity">Quantity</label>
                                    <input type="number" class="form-control" id="quantity" name="quantity" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>