<div class="content-wrapper" th:fragment="list-booking">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">List Booking Room</a>
                </li>
                <li class="breadcrumb-item active">My list Booking Room</li>
            </ol>
            <!-- content -->
            <div class="card">
                <div class="card-body">
                    <h2 style="text-align: center; padding-bottom: 20px;">List Booking Room</h2>
                    <form action="#" method="post">
                        <div class="form-group row">
                            <label for="select" class="col-sm-2 col-form-label">By</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="select">
                                    <option>Booking Room</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="from" class="col-sm-2 col-form-label">From</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="from">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="until" class="col-sm-2 col-form-label">Until</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="until">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Print</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>