<div class="content-wrapper" th:fragment="manage-room">
    <div class="container-fluid">
        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Manage Room</a>
            </li>
            <li class="breadcrumb-item active">My Room</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Room Data</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Room ID</th>
                            <th>Room Name</th>
                            <th>Min Capacity</th>
                            <th>Max Capacity</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="room, iterStat : ${listRoom}">
                            <td th:text="${iterStat.count}">1</td>
                            <td th:text="${room.id}">Room Id</td>
                            <td th:text="${room.namaRuangan}">Room Name</td>
                            <td th:text="${room.minKapasitas}">Min Capacity</td>
                            <td th:text="${room.maxKapasitas}">Max Capacity</td>
                            <td th:text="${room.lokasi}">Location</td>

                            <td>   <!-- Aksi: Edit / Delete -->
                                <button class="btn btn-sm btn-warning btn-edit"
                                        th:attr="data-id=${room.id},
                                             data-namaRuangan=${room.namaRuangan},
                                             data-minKapasitas=${room.minKapasitas},
                                             data-maxKapasitas=${room.maxKapasitas},
                                             data-lokasi=${room.lokasi}">
                                    Edit
                                </button>
                                <form th:action="@{/manage-room/delete/{id}(id=${room['id']})}" method="post" style="display:inline;">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button type="submit" class="btn btn-sm btn-danger"
                                            onclick="return confirm('Are you sure to delete?')">Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal Tambah Data -->
        <div class="modal fade" id="modalTambah" tabindex="-1" role="dialog" aria-labelledby="modalTambahLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="formTambah" th:object="${data}" th:action="@{/manage-room}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTambahLabel">Add Room Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <!-- Room ID -->
                            <div class="form-group">
                                <label for="id">Room Id</label>
                                <input type="text" class="form-control" id="id" name="id" required
                                        placeholder="Room Id">
                            </div>

                            <!-- Room Name -->
                            <div class="form-group">
                                <label for="namaRuangan">Room Name</label>
                                <input type="text" class="form-control" id="namaRuangan" name="namaRuangan" required
                                       placeholder="Room Name">
                            </div>

                            <!-- Min Capacity -->
                            <div class="form-group">
                                <label for="minKapasitas">Min Capacity</label>
                                <input type="number" class="form-control" id="minKapasitas" name="minKapasitas" required
                                       placeholder="Min Kapasitas">
                            </div>

                            <!-- Max Capacity -->
                            <div class="form-group">
                                <label for="maxKapasitas">Max Capacity</label>
                                <input type="number" class="form-control" id="maxKapasitas" name="maxKapasitas" required
                                       placeholder="Max Kapasitas">
                            </div>

                            <!-- Location -->
                            <div class="form-group">
                                <label for="lokasi">Location</label>
                                <input type="text" class="form-control" id="lokasi" name="lokasi" required
                                       placeholder="Lokasi">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Edit Data -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="formEdit" th:object="${data}" th:action="@{/manage-room}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditLabel">Edit Room Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <input type="hidden" id="editId" name="id">
                            <!-- Room Name -->
                            <div class="form-group">
                                <label for="editNamaRuangan">Room Name</label>
                                <input type="text" class="form-control" id="editNamaRuangan" name="namaRuangan" required placeholder="Room Name">
                            </div>

                            <!-- Min Capacity -->
                            <div class="form-group">
                                <label for="editMinKapasitas">Min Capacity</label>
                                <input type="text" class="form-control" id="editMinKapasitas" name="minKapsitas" required placeholder="Min Kapasitas">
                            </div>

                            <!-- Max Capacity -->
                            <div class="form-group">
                                <label for="editMaxKapasitas">Max Capacity</label>
                                <input type="text" class="form-control" id="editMaxKapasitas" name="maxKapsitas" required placeholder="Max Kapasitas">
                            </div>

                            <!-- Location -->
                            <div class="form-group">
                                <label for="editLokasi">Location</label>
                                <input type="text" class="form-control" id="editLokasi" name="lokasi" required placeholder="Lokasi">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
        $("#formTambah").submit(function(event) {
            event.preventDefault(); // Cegah submit default

            let post_url = $(this).attr("action");     // URL endpoint tujuan
            let request_method = $(this).attr("method"); // Method POST
            let form_data = $(this).serialize();         // Serialisasi data form

            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function(response) {
                let pattern = /50c9a8c2b1cb45799d8f0db5f8449c65/i;
                let result = response.match(pattern);

                if(result) {
                    $("#server-results-add").html(response); // tampilkan pesan error jika ada
                } else {
                    $('#modalTambah').modal('hide'); // tutup modal tambah
                    confirm("DATA BERHASIL DISIMPAN"); // notifikasi
                    window.location = "/manage-room"; // redirect atau reload
                }
            });
        });
    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
        $("#formEdit").submit(function(event) {
            event.preventDefault(); // Mencegah submit default form

            let post_url = $(this).attr("action");     // URL tujuan (form action)
            let request_method = $(this).attr("method"); // Method (POST/PUT)
            let form_data = $(this).serialize();         // Ambil data form

            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function(response) {
                // Cek response apakah cocok dengan pola tertentu (opsional)
                let pattern = /50c9a8c2b1cb45799d8f0db5f8449c65/i;
                let result = response.match(pattern);

                if (result) {
                    $("#server-results-edit").html(response); // tampilkan error ke elemen tertentu
                } else {
                    $('#modalEdit').modal('hide'); // tutup modal edit
                    confirm("DATA BERHASIL DIUBAH"); // notif
                    window.location = "/manage-room"; // redirect atau refresh halaman
                }
            });
        });
/*]]>*/
</script>

<script>
    $(document).on('click', '.btn-edit', function () {
        const id = $(this).data('id');
        const namaFasilitas = $(this).data('namafasilitas');
        const jumlah = $(this).data('jumlah');
        const ruanganId = $(this).closest('tr').find('td:nth-child(2)').text(); // Ambil Room ID dari kolom kedua

        $('#editFacilityId').val(id);
        $('#editNamaFasilitas').val(namaFasilitas);
        $('#editJumlah').val(jumlah);
        $('#editRuanganId').val(ruanganId);

        $('#modalEdit').modal('show');
        });
</script>
