<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Meeting Room </title>
</head>
<body>
<div class="content-wrapper" th:fragment="user-data">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Users</a>
                </li>
                <li class="breadcrumb-item active">My Users</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Users Data</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>NIP</th>
                                <th>User Name</th>
                                <th>E-Mail</th>
                                <th>No. Telp</th>
                                <th>Password</th>
                                <th>Departement</th>
                                <th>Position</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>2025001</td>
                                <td>Robert</td>
                                <td>robet@gmail.com</td>
                                <td>+12 023 899 098</td>
                                <td>rahasia89q02934</td>
                                <td>Accounting</td>
                                <td>Section Head</td>
                                <td>
                                    <button type="submit" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-modal">
                                        <i class="fa fa-pencil-square-o me-2"></i> Edit</button>
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash me-2"></i> Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal Edit Data -->
            <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="formEdit">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalEditLabel">Edit User Data</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="userId1" name="userId" required placeholder="NIP">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="userName1" name="userName" required placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email1" name="email" required placeholder="E-Mail">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="noTelp1" name="quantity" required placeholder="Phone Nomber">
                                </div>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password1" placeholder="Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="cursor: pointer;" onclick="togglePassword()">
                                            <i class="fa fa-eye" id="toggleIcon1"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="depart" class="form-control" id="departement1" name="quantity" required placeholder="Departement">
                                </div>
                                <div class="form-group">
                                    <input type="pos" class="form-control" id="jabatan1" name="quantity" required placeholder="Jabatan">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal Tambah Data -->
            <div class="modal fade" id="modalTambah" tabindex="-1" role="dialog" aria-labelledby="modalTambahLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="formTambah">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTambahLabel">Tambah User Data</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Tutup">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="userId" name="userId" required placeholder="NIP">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="userName" name="userName" required placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" required placeholder="E-Mail">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="noTelp" name="quantity" required placeholder="Phone Nomber">
                                </div>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="cursor: pointer;" onclick="togglePassword()">
                                            <i class="fa fa-eye" id="toggleIcon"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="depart" class="form-control" id="departement" name="quantity" required placeholder="Departement">
                                </div>
                                <div class="form-group">
                                    <input type="pos" class="form-control" id="jabatan" name="quantity" required placeholder="Jabatan">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>