<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-wrapper" th:fragment="change-password">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Change Password</a>
            </li>
            <li class="breadcrumb-item active">My Password</li>
        </ol>
        <!-- content -->
        <div class="card">
            <div class="card-body">
                <h2 style="text-align: center; padding-bottom: 20px;">Change Password</h2>
                <form action="#" method="post">
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">Old Password</label>
                        <div class="col-sm-10">
                            <!-- <input type="password" class="form-control" id="inputEmail3"> -->
                            <div class="input-group">
                                <input type="password" class="form-control" id="password">
                                <div class="input-group-append">
                          <span class="input-group-text" style="cursor: pointer;" onclick="togglePassword()">
                              <i class="fa fa-eye" id="toggleIcon"></i>
                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newpassword" class="col-sm-2 col-form-label">New Password</label>
                        <div class="col-sm-10">
                            <!-- <input type="password" class="form-control" id="inputEmail3"> -->
                            <div class="input-group">
                                <input type="password" class="form-control" id="newpassword">
                                <div class="input-group-append">
                          <span class="input-group-text" style="cursor: pointer;" onclick="newTogglePass()">
                              <i class="fa fa-eye" id="toggleIconNew"></i>
                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirmpassword" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <!-- <input type="password" class="form-control" id="inputEmail3"> -->
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirmpassword">
                                <div class="input-group-append">
                          <span class="input-group-text" style="cursor: pointer;" onclick="ConfirmTogglePass()">
                              <i class="fa fa-eye" id="toggleIconConfirm"></i>
                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
            function togglePassword() {
                const passwordInput = document.getElementById('password');
                const toggleIcon = document.getElementById('toggleIcon');

                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    toggleIcon.classList.remove('fa-eye');
                    toggleIcon.classList.add('fa-eye-slash');
                } else {
                    passwordInput.type = 'password';
                    toggleIcon.classList.remove('fa-eye-slash');
                    toggleIcon.classList.add('fa-eye');
                }
            }

            function newTogglePass(){
              const newpassword = document.getElementById('newpassword');
              const toggleIconnew = document.getElementById('toggleIconNew');

                if(newpassword.type === 'password'){
                  newpassword.type = 'text';
                  toggleIconnew.classList.remove('fa-eye');
                  toggleIconnew.classList.add('fa-eye-slash');
                }else{
                  newpassword.type = 'password';
                  toggleIconnew.classList.remove('fa-eye-slash');
                  toggleIconnew.classList.add('fa-eye');
                }
            }

            function ConfirmTogglePass(){
              const confirm_password = document.getElementById('confirmpassword');
              const toggleIconConfirm = document.getElementById('toggleIconConfirm');

                if(confirm_password.type === 'password'){
                  confirm_password.type = 'text';
                  toggleIconConfirm.classList.remove('fa-eye');
                  toggleIconConfirm.classList.add('fa-eye-slash');
                }else{
                  confirm_password.type = 'password';
                  toggleIconConfirm.classList.remove('fa-eye-slash');
                  toggleIconConfirm.classList.add('fa-eye');
                }
            }
        </script>
</div>
</body>
</html>